<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216990525686-5csgf0mcd5509oevlhmgne41ou38vlkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216990525686-5csgf0mcd5509oevlhmgne41ou38vlkt</string>
	<key>API_KEY</key>
	<string>AIzaSyCMGzMmCDiTj54Seoi2gsZCOHhfJNp2voo</string>
	<key>GCM_SENDER_ID</key>
	<string>216990525686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ruslanbagautdinov.GitClientAnchor.GitClientAnchor</string>
	<key>PROJECT_ID</key>
	<string>gitclientanchor</string>
	<key>STORAGE_BUCKET</key>
	<string>gitclientanchor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216990525686:ios:08e5b30fd609596221a4d7</string>
</dict>
</plist>